<div class="container">
    <h1>Welcome to Dashboard</h1>
  </div>

  <div class="card" *ngFor = 'let complaint of complaints'>
        <div class="card-header">
          {{complaint.date | date : "dd.MM.y"}}
          <a class="btn btn-danger" (click)="deleteComplaint(complaint._id)" style="float: right;">Delete</a>
              </div>
              <div class="card-body">
    <form >
      <div class="col-md-3">
        <strong>Village</strong>: {{complaint.village}}
      </div>
      <div class="col-md-3">
        <strong>Mandal</strong>: {{complaint.mandal}}
      </div>
      <div class="col-md-3">
        <strong>District</strong>: {{complaint.district}}
      </div>
      <div class="col-md-3">
        <strong>Postal code</strong>: {{complaint.postalcode}}
      </div>
    <!-- <div class="col-md-3">
        Image: {{complaint.file}}
      </div> -->
      <div class="col-md-12">
        <strong>Description</strong>: {{complaint.description}}
      </div>
    </form>
</div>
  </div>